.contenedor-row {
  min-height: 100vh;
}

.contenedor-principal {
  background-color: #90a081;
}

.barra-lateral {
  background-color: #f1ac7b;
}

.consola {
  background-color: #000;
  color: #16bc6a;
  height: 80%;
  width: 95%;
  overflow-y: scroll;
}

.consola > pre {
  color: inherit;
}

.contenedor-boton {
  margin-bottom: 25px;
}
